body {
    font-family: 'Lato', sans-serif;
    color: white;
    background: #323232;
    width: 1020px;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #2eb398;
}
.page-header {
    margin: 0;
    border: 0;
    padding-left: 0;
    max-height: 63px;
    max-width: 1020px;
}
.page-header > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 63px;

}
.menu-items li {
    padding: 16px 25px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.6em;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 23px;
}
.menu-items {
    padding: o;
    margin: 0;
    list-style: none;
    padding-left: 0;
    position: relative;
    display: flex;
    align-items: center;
}
#notch {
    padding: 0;
    
}
.bio {
    width: 1020px;
    height: 341px;
    background-color: #2eb398;
    display: grid;
    justify-items: center;
    grid-template-columns: 70px 180px 19px 611px auto;
    grid-template-rows: 250px auto;

}
.container-photo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}
.container-bio {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    width: 100%;
}
.container-icons {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
    display: inline;

}
.bio-header > p {
    height: auto;
}

.bio-text {
    height: auto;
    color: #d7fcf5;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin: 0;
}
.bio-header .h3 {
    width: auto;
    height: 22px;
    color: #d7fcf5;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 4.56px;
    margin-bottom: 0;
    margin-top: 0;
}
.bio-header .h4 {
    width: auto;
    height: 17px;
    color: #20816d;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.56px;
    margin: 0;
}

.contact-form {
    width: 1020px;
    height: 564px;
    display: grid;
    grid-template-columns: 700px auto;
    grid-template-rows: 134px  162px 150px 60px;
}
.container-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 10%;
    margin-top: 67px;
}
.form-header > * {
    margin: 0;
}
.form-header h3 {
    width: auto;
    height: 22px;
    color: #e0e0e0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 4.56px;
    margin: 0;
}
.form-header h4 {
    width: auto;
    height: 17px;
    color: #e0e0e0;;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.56px;
    margin: 0;
}
.container-form {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-right: 5%;
} 
.form-grid {
    display: grid;
    grid-template-rows: 46px 46px 46px 100px 60px;
    grid-row-gap: 15px;
    align-items: stretch;
}
input {
    width: 100%;
    height: 80%;
    background-color: #454545;
    border: #454545;
    padding-left: 15px;
    padding-right: 15px;
}
textarea {
    height: 120%;
    width: 100%;
    background-color: #454545;
    border: #454545;
    padding: 15px;
}
input, select, textarea {
    color: #e0e0e0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    box-sizing:border-box;
}
::placeholder {
    color: #e0e0e0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.input1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 10%;
}
.input2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 10%;
}
.input3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 10%;
}
.input4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 10%;
}
.input-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    align-self: end;
    justify-self: end;
}
.button {
    background: #2eb398;
    border: none;
    color: #e0e0e0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 100px;
    height: 35px;
}
.container-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 10%;
    justify-self: stretch;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    width: 180px;
    height: 117px;
}
.container-info > * {
    margin: 0;
}
p {
    text-align: justify;
    line-height: 21.56px;
}
.container-adress {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-right: 10%; 
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    display: grid;
    grid-template-columns: 15px auto;
    grid-template-rows: 18px 18px 18px;
    align-items: center;
    margin-top: 18px;
}
.location {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}
.phone {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
.mail {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
}
.adress-location, .adress-mail, .adress-phone {
    margin-left: 6%;
}
.adress-location {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.adress-phone {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.adress-mail {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.container-footer p {
    color: #454545;
    font-family: "Maven Pro Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 6.32px;
    display: inline-block;
    margin: 12px;
}
.page-footer {
    background: #222222;
    width: 1020px;
    height: 43px;
    display: flex;
    align-items: center;
}
.container-icons:hover {
    cursor: pointer;
}
.button:hover {
    cursor: pointer;
}
.slides {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slides > * {
    position: absolute;
    font-size: 22px;
}
.slide-active {
    opacity: 1;
    z-index: 1;
}
.slide-inactive {
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: 0.4s all;
}
.dots-list {
    display: flex;
    justify-content: center;
    padding: 0;
}
.dot-item {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ddd2c5;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.dot-active {
  background-color: #8b8784;
}
.tiles {
    color: black;
    background: white;
    height: 800px;
}






#hexGrid {
    display: grid;
    grid-column-gap:20px;
    grid-template-columns: repeat(10,80px);
    width: 100%;
    margin: 0 20px;
    padding-top: 20px;
    list-style-type: none;
    overflow:hidden;
  }
  
  .hex {
    grid-column-end: span 2;
    position: relative;
    visibility:hidden;
  }
  .hex::after{
    content:'';
    display:block;
    padding-bottom:86.7%;  /* =  100 / tan(60) * 1.5 */
    margin-bottom: 11.83%;
  
  }
  .hexIn{
    position: absolute;
    width:100%;
    padding-bottom: 115.470%; /* =  width / sin(60) */
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
  }
  
  .hexLink {    /*Na razie w <div>ie .hexIn musi być <a> albo <div> .hexLink, może da się to scalić */
    display:block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }
  
  /*** HEX CONTENT **********************************************************************/
  .hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0,0,0,0deg);
        -ms-transform: rotate3d(0,0,0,0deg);
            transform: rotate3d(0,0,0,0deg);
  }
  
  
  /*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
  
  @media (min-width:601px) { /* <- 5-4  hexagons per row */
    #hexGrid{
      padding-bottom: 4.4%;
    }
    .hex:nth-child(9n+1){ /* first hexagon of even rows */
      grid-column-start: 2;
    }
  }
  /*
  @media (max-width: 900) and (min-width:601px) { / <- 4-3  hexagons per row /
    #hexGrid{
      grid-template-columns: repeat(8,1fr);
      padding-bottom: 5.5%;
    }
    .hex:nth-child(7n+1){
      grid-column-start: 2;
    }
  } */
  
  @media (max-width: 600px) and (min-width:301px) { /* <- 3-2  hexagons per row */
    #hexGrid{
      grid-template-columns: repeat(6,1fr);
      padding-bottom: 7.4%;
    }
    .hex:nth-child(5n+1){ /* first hexagon of ODD rows */
      grid-column-start: 2;
    }
  }
  
  @media (max-width: 400px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 11.2%;
    grid-gap:5px;
  }
  .hex:nth-child(3n+1){ /* first hexagon of ODD rows */
    grid-column-start: 2;
  }
  }
  /* 
  @media (max-width: 300px) {
    #hexGrid {
        font-size: 13px;
    }
  }*/
  